html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helevitca', sans-serif; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    transition: ease 0.2s;
    color: #D33A45; }

.btn {
  border-radius: 1px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 12px;
  text-align: center;
  cursor: pointer; }
  .btn.btn-default {
    background-color: #fff;
    border: 1px solid #EFEFEF;
    color: #EFEFEF; }
  .btn.btn-primary {
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
    margin-top: 1.5em; }
  .btn:hover {
    background-color: #eee;
    transition: ease 0.5s;
    color: #2C3E50;
    text-decoration: none; }

#submit:hover {
  background-color: #2C3E50;
  transition: none;
  color: #EFEFEF; }

:disabled {
  background-color: #D33A45 !important; }
  :disabled:hover {
    color: white; }

.progress1 {
  margin-bottom: 20px;
  transition: all 0.2s ease; }

.progress-step {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

.pull-right {
  float: right; }

.pull-left {
  float: left;
  margin-top: 1.5em; }

.form-fields {
  list-style: none;
  margin: 0;
  padding: 0; }
  .form-fields > li {
    margin-bottom: 20px; }

.form-footer {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 20px; }

.label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px; }

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px; }
  label input {
    left: 0;
    position: absolute;
    top: 0; }

input {
  font-size: 16px;
  padding: 8px;
  width: 100%; }

textarea {
  font-size: 16px;
  padding: 8px;
  width: 100%; }

select {
  font-size: 16px;
  padding: 8px; }

.modal {
  padding: 10px; }
  .modal .close {
    float: right;
    border: none;
    font-size: 15px;
    padding: 5px;
    background-color: white;
    color: black;
    left: 0; }
  .modal .closeAbout {
    position: relative;
    background: none;
    color: #D33A45;
    left: 11.5em;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    cursor: pointer; }

.loc-output {
  margin: 10px;
  font-size: 18px;
  color: #D33A45; }

.confirmation .story {
  word-wrap: break-word; }

.top {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #2C3E50;
  background: #2C3E50;
  z-index: 15; }
  @media screen and (max-width: 550px) {
    .top {
      height: 120px; } }
  .top:last-child {
    margin-right: 0; }
  .top .logo {
    margin: auto;
    max-width: 360px;
    height: auto;
    display: block;
    position: relative;
    top: 11px;
    left: -.2em; }
    @media screen and (max-width: 550px) {
      .top .logo {
        margin-left: 15%; } }
    .top .logo img {
      width: 100%; }
      @media screen and (max-width: 550px) {
        .top .logo img {
          width: 75%; } }
  .top a {
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    position: relative;
    bottom: .8em;
    left: 2em;
    cursor: pointer; }
    @media screen and (max-width: 550px) {
      .top a {
        bottom: -1.3em; } }
    .top a:hover {
      color: #D33A45;
      transition: ease 0.5s;
      text-decoration: none; }
  .top .add {
    float: right;
    bottom: 2em;
    left: -2em;
    cursor: pointer; }
    @media screen and (max-width: 550px) {
      .top .add {
        bottom: 0em; } }

.footer {
  position: static;
  bottom: 0;
  height: 60px;
  width: 100%;
  clear: both;
  background-color: #2C3E50; }
  .footer #admin {
    margin-left: 47.68161%;
    position: relative;
    top: 22px;
    color: #eee; }
    .footer #admin:hover {
      color: #D33A45;
      transition: ease 0.5s;
      text-decoration: none; }

.map {
  width: 100%;
  height: 800px;
  position: relative;
  margin-bottom: 170px;
  top: .5em; }
  .map p {
    text-align: center;
    font-weight: bold;
    color: #2C3E50;
    font-size: 20px;
    padding-bottom: 10px; }

.leaflet-popup-content {
  text-align: center;
  background: #2C3E50;
  color: #fff;
  font-size: 16px;
  line-height: 24px; }

.popup {
  overflow: hidden; }
  .popup img {
    width: 100%;
    height: auto; }
  .popup p {
    word-wrap: break-word;
    color: #fff;
    font-weight: normal;
    font-size: 15px; }

.login {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 42.64902%;
  min-height: 825px; }
  @media screen and (max-width: 550px) {
    .login {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 73.14426%;
      margin-left: 16.11345%; }
      .login:last-child {
        margin-right: 0; } }
  .login:last-child {
    margin-right: 0; }
  .login h2 {
    margin-top: 1em;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 15px; }
  .login input {
    margin-bottom: 10px; }
    @media screen and (max-width: 550px) {
      .login input {
        width: 150px;
        margin-left: 25%; } }
  .login button {
    margin-left: 33.69273%; }
  .login a {
    position: relative;
    top: 4em;
    right: 4.4em; }

.dashboard {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  min-height: 750px;
  padding-bottom: 60px; }
  .dashboard:last-child {
    margin-right: 0; }
  .dashboard #logout {
    margin-left: 46.91392%;
    margin-bottom: 10px; }
  .dashboard h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    color: #2C3E50; }
  .dashboard h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #2C3E50; }
  .dashboard p {
    text-align: center;
    color: #D33A45;
    position: inherit;
    font-size: 24px;
    top: 15px;
    margin-bottom: 15px; }
  .dashboard a {
    margin-left: 46.91392%;
    position: relative;
    display: inline-block;
    top: 20px; }
  .dashboard #logbtn {
    margin-left: 45.20796%; }

#list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 21.49511%;
  background-color: #EFEFEF;
  position: relative;
  padding: 15px;
  border-radius: 4px; }
  #list:last-child {
    margin-right: 0; }
  #list li {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 5px; }
    #list li:last-child {
      margin-right: 0; }
    #list li p {
      font-size: 14px;
      color: black;
      text-align: center; }
    #list li .story {
      overflow-wrap: break-word; }
    #list li img {
      width: 150px;
      position: relative;
      padding-top: 5px; }
    #list li button {
      position: relative;
      left: 1em;
      bottom: 1em; }

.about {
  position: relative;
  z-index: 15; }
  .about .content h1 {
    text-align: center;
    color: #D33A45;
    margin-top: 1em; }
  .about .content p {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    line-height: 25px;
    color: #fff; }
