// Buttons

.btn {
  border-radius: 1px;
  border: none;
  color: $white;
  font-size: 16px;
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;

  &.btn-default {
    background-color: $white;
    border: 1px solid $grey;
    color: $grey;
  }

  &.btn-primary {
    background-color: $darkblue;
    border: 1px solid $darkblue;
    margin-top: 1.5em;
    }
    &:hover {
    background-color: #eee;
    transition: ease .5s;
    color: $darkblue;
    text-decoration: none;
  }
  }

  #submit {
    &:hover {
      background-color: $darkblue;
      transition: none;
      color: $grey;
    }
  }
  &:disabled {
    background-color: $red !important;

    &:hover {
      color: white;
    }
  }
