.dashboard {
  @include span-columns(12);
  min-height: 750px;
  padding-bottom: 60px;


  #logout {
    @include shift(5.5);
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    color: $darkblue;
  }
  h2 {
    text-align: center;
    margin-bottom: 15px;
    color: $darkblue;

  }
  p {
    text-align: center;
    color:$red;
    position: inherit;
    font-size: 24px;
    top:15px;
    margin-bottom: 15px;
  }
  a {
    @include shift(5.5);
    position: relative;
    display: inline-block;
    top:20px;
    }
  #logbtn {
    @include shift(5.3);
    }
  }

  #list {
    @include span-columns(7);
    @include shift(2.52);
    background-color: $grey;
    position: relative;
    padding: 15px;
    border-radius: 4px;
    li {
      @include span-columns(6 of 6);
      position: relative;
      text-align: center;
      background: $white;
      border-bottom: 1px solid $grey;
      margin-bottom: 5px;
      border-radius: 4px;
      padding: 5px;
    p {
      font-size: 14px;
      color: black;
      text-align: center;
    }
    .story {
      overflow-wrap: break-word;
    }
    img {
      width: 150px;
      position: relative;
      padding-top: 5px;
      }
    button {
      position: relative;
      left: 1em;
      bottom: 1em;
      }
    }
  }
