.dashboard {
  @include span-columns(10);
  @include shift(.9);
  min-height: 650px;
  padding-bottom: 60px;
  position: relative;
  top: 25px;

  #logout {
    @include shift(5.5);
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
    color: $blue;
  }
  p {
    text-align: center;
    color:$red;
    position: inherit;
    top:15px;
    margin-bottom: 15px;
  }
  a {
    @include shift(5.5);
    position: inherit;
    top:20px;
    }
  }

  #list {
    @include span-columns(10);
    @include shift(3);

    li {
      @include span-columns(6 of 10);
      text-align: justify;
      display: block;
      background: $grey;
      border-bottom: 1px solid $grey;
      margin-bottom: 5px;
      padding: 5px;
    }
    p {
      font-size: 14px;
      color: black;
      text-align: justify;
    }
    .story {
      overflow-wrap: break-word;
    }
    img {
      float: right;
      width: 150px;
    }
  }
