.footer {
  position: static;
  bottom: 0;
  height: 60px;
  width: 100%;
  clear: both;
  background-color: $darkblue;
  #admin {
      @include shift(5.59);
      position: relative;
      top:22px;
      color: #eee;
  }
}
