.top {
  position: relative;
  width: inherit;
  height: 100px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $darkblue;
  background: $darkblue;

  .logo {
    @include shift(3.8);
    position: relative;
    top:13px;
}
    a {
      color: $white;
      font-weight: 200;
      font-size: 18px;
      position: relative;
      bottom: .8em;
      left: 2em;
      cursor: pointer;
      &:hover {
        color: $white;
        transition: ease .5s;
        text-decoration: none;
      }
    }
    .add {
      float: right;
      bottom: 2em;
      left: -2em;
      cursor: pointer;
    }
  }
