.top {
  position: relative;
  width: inherit;
  height: 75px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $darkblue;
  background: $darkblue;

  .logo {
    @include shift(3.5);
    position: relative;
    top:13px;
}
    a {
      color: $white;
      font-weight: bold;
      font-size: 18px;
      position: relative;
      bottom: .5em;
      left: 2em;
      cursor: pointer;
      &:hover {
        color: $white;
        transition: ease .5s;
        text-decoration: none;
      }
    }
    .add {
      left: 72em;
      bottom: 1.5em;
      cursor: pointer;
    }
  }
