.top {
  position: relative;
  width: inherit;
  height: 75px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $darkblue;
  // background: linear-gradient(#0672B5, $darkblue);
  background: $darkblue;

  .logo {
    left: 0;
  h1 {
    font-size: 35px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-align: center;
    color: $yellow;
    position: relative;
    top: .5em;
  }
}
    a {
      color: $yellow;
      font-weight: bold;
      font-size: 18px;
      position: relative;
      top: 0em;
      left: 2em;
      &:hover {
        color: $white;
        transition: ease .5s;
        text-decoration: none;
      }
    }
    .add {
      left: 72em;
      top: -1.3em;
      cursor: pointer;
    }
  }
