.login {
  @include media($mobile) {
    @include span-columns(3);
    @include shift(.6);
  }
  @include span-columns(2);
  @include shift(5);
  min-height: 825px;
  h2 {
    margin-top: 1em;
    color: $darkblue;
    text-align: center;
    margin-bottom: 15px;
  }
  input {
    @include media($mobile) {
      width:150px;
      margin-left: 25%;
    }
    margin-bottom: 10px;
  }
  button {
    @include shift(3.95);
  }
  a {
    position: relative;
    top: 4em;
    right: 4.4em;
  }
}
